State Data Sheena's Copy

In [13]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt 
%matplotlib inline

In [14]:
fy14_ak = pd.read_csv('fy14_ak.csv')
fy14_al = pd.read_csv('fy14_al.csv')
fy14_ar = pd.read_csv('fy14_ar.csv')
fy14_az = pd.read_csv('fy14_az.csv')
fy14_ca = pd.read_csv('fy14_ca.csv')
fy14_co = pd.read_csv('fy14_co.csv')
fy14_ct = pd.read_csv('fy14_ct.csv')
fy14_dc = pd.read_csv('fy14_dc.csv')
fy14_de = pd.read_csv('fy14_de.csv')
fy14_fl = pd.read_csv('fy14_fl.csv')
fy14_ga = pd.read_csv('fy14_ga.csv')
fy14_gu = pd.read_csv('fy14_gu.csv')
fy14_hi = pd.read_csv('fy14_hi.csv')
fy14_ia = pd.read_csv('fy14_ia.csv')
fy14_id = pd.read_csv('fy14_id.csv')
fy14_il = pd.read_csv('fy14_il.csv')
fy14_in = pd.read_csv('fy14_in.csv')
fy14_ks = pd.read_csv('fy14_ks.csv')
fy14_ky = pd.read_csv('fy14_ky.csv')
fy14_la = pd.read_csv('fy14_la.csv')
fy14_ma = pd.read_csv('fy14_ma.csv')
fy14_md = pd.read_csv('fy14_md.csv')
fy14_me = pd.read_csv('fy14_me.csv')
fy14_mi = pd.read_csv('fy14_mi.csv')
fy14_mn = pd.read_csv('fy14_mn.csv')
fy14_mo = pd.read_csv('fy14_mo.csv')
fy14_ms = pd.read_csv('fy14_ms.csv')
fy14_mt = pd.read_csv('fy14_mt.csv')
fy14_nc = pd.read_csv('fy14_nc.csv')
fy14_nd = pd.read_csv('fy14_nd.csv')
fy14_ne = pd.read_csv('fy14_ne.csv')
fy14_nh = pd.read_csv('fy14_nh.csv')
fy14_nj = pd.read_csv('fy14_nj.csv')
fy14_nm = pd.read_csv('fy14_nm.csv')
fy14_nv = pd.read_csv('fy14_nv.csv')
fy14_ny = pd.read_csv('fy14_ny.csv')
fy14_oh = pd.read_csv('fy14_oh.csv')
fy14_ok = pd.read_csv('fy14_ok.csv')
fy14_or = pd.read_csv('fy14_or.csv')
fy14_pa = pd.read_csv('fy14_pa.csv')
fy14_pr = pd.read_csv('fy14_pr.csv')
fy14_ri = pd.read_csv('fy14_ri.csv')
fy14_sc = pd.read_csv('fy14_sc.csv')
fy14_sd = pd.read_csv('fy14_sd.csv')
fy14_tn = pd.read_csv('fy14_tn.csv')
fy14_tx = pd.read_csv('fy14_tx.csv')
fy14_ut = pd.read_csv('fy14_ut.csv')
fy14_va = pd.read_csv('fy14_va.csv')
fy14_vt = pd.read_csv('fy14_vt.csv')
fy14_wa = pd.read_csv('fy14_wa.csv')
fy14_wi = pd.read_csv('fy14_wi.csv')
fy14_wv = pd.read_csv('fy14_wv.csv')
fy14_wy = pd.read_csv('fy14_wy.csv')

#fy15
fy15_ak = pd.read_csv('fy15_ak.csv')
fy15_al = pd.read_csv('fy15_al.csv')
fy15_ar = pd.read_csv('fy15_ar.csv')
fy15_az = pd.read_csv('fy15_az.csv')
fy15_ca = pd.read_csv('fy15_ca.csv')
fy15_co = pd.read_csv('fy15_co.csv')
fy15_ct = pd.read_csv('fy15_ct.csv')
fy15_dc = pd.read_csv('fy15_dc.csv')
fy15_de = pd.read_csv('fy15_de.csv')
fy15_fl = pd.read_csv('fy15_fl.csv')
fy15_ga = pd.read_csv('fy15_ga.csv')
fy15_gu = pd.read_csv('fy15_gu.csv')
fy15_hi = pd.read_csv('fy15_hi.csv')
fy15_ia = pd.read_csv('fy15_ia.csv')
fy15_id = pd.read_csv('fy15_id.csv')
fy15_il = pd.read_csv('fy15_il.csv')
fy15_in = pd.read_csv('fy15_in.csv')
fy15_ks = pd.read_csv('fy15_ks.csv')
fy15_ky = pd.read_csv('fy15_ky.csv')
fy15_la = pd.read_csv('fy15_la.csv')
fy15_ma = pd.read_csv('fy15_ma.csv')
fy15_md = pd.read_csv('fy15_md.csv')
fy15_me = pd.read_csv('fy15_me.csv')
fy15_mi = pd.read_csv('fy15_mi.csv')
fy15_mn = pd.read_csv('fy15_mn.csv')
fy15_mo = pd.read_csv('fy15_mo.csv')
fy15_ms = pd.read_csv('fy15_ms.csv')
fy15_mt = pd.read_csv('fy15_mt.csv')
fy15_nc = pd.read_csv('fy15_nc.csv')
fy15_nd = pd.read_csv('fy15_nd.csv')
fy15_ne = pd.read_csv('fy15_ne.csv')
fy15_nh = pd.read_csv('fy15_nh.csv')
fy15_nj = pd.read_csv('fy15_nj.csv')
fy15_nm = pd.read_csv('fy15_nm.csv')
fy15_nv = pd.read_csv('fy15_nv.csv')
fy15_ny = pd.read_csv('fy15_ny.csv')
fy15_oh = pd.read_csv('fy15_oh.csv')
fy15_ok = pd.read_csv('fy15_ok.csv')
fy15_or = pd.read_csv('fy15_or.csv')
fy15_pa = pd.read_csv('fy15_pa.csv')
fy15_pr = pd.read_csv('fy15_pr.csv')
fy15_ri = pd.read_csv('fy15_ri.csv')
fy15_sc = pd.read_csv('fy15_sc.csv')
fy15_sd = pd.read_csv('fy15_sd.csv')
fy15_tn = pd.read_csv('fy15_tn.csv')
fy15_tx = pd.read_csv('fy15_tx.csv')
fy15_ut = pd.read_csv('fy15_ut.csv')
fy15_va = pd.read_csv('fy15_va.csv')
fy15_vt = pd.read_csv('fy15_vt.csv')
fy15_wa = pd.read_csv('fy15_wa.csv')
fy15_wi = pd.read_csv('fy15_wi.csv')
fy15_wv = pd.read_csv('fy15_wv.csv')
fy15_wy = pd.read_csv('fy15_wy.csv')

#fy16
fy16_ak = pd.read_csv('fy16_ak.csv')
fy16_al = pd.read_csv('fy16_al.csv')
fy16_ar = pd.read_csv('fy16_ar.csv')
fy16_az = pd.read_csv('fy16_az.csv')
fy16_ca = pd.read_csv('fy16_ca.csv')
fy16_co = pd.read_csv('fy16_co.csv')
fy16_ct = pd.read_csv('fy16_ct.csv')
fy16_dc = pd.read_csv('fy16_dc.csv')
fy16_de = pd.read_csv('fy16_de.csv')
fy16_fl = pd.read_csv('fy16_fl.csv')
fy16_ga = pd.read_csv('fy16_ga.csv')
fy16_gu = pd.read_csv('fy16_gu.csv')
fy16_hi = pd.read_csv('fy16_hi.csv')
fy16_ia = pd.read_csv('fy16_ia.csv')
fy16_id = pd.read_csv('fy16_id.csv')
fy16_il = pd.read_csv('fy16_il.csv')
fy16_in = pd.read_csv('fy16_in.csv')
fy16_ks = pd.read_csv('fy16_ks.csv')
fy16_ky = pd.read_csv('fy16_ky.csv')
fy16_la = pd.read_csv('fy16_la.csv')
fy16_ma = pd.read_csv('fy16_ma.csv')
fy16_md = pd.read_csv('fy16_md.csv')
fy16_me = pd.read_csv('fy16_me.csv')
fy16_mi = pd.read_csv('fy16_mi.csv')
fy16_mn = pd.read_csv('fy16_mn.csv')
fy16_mo = pd.read_csv('fy16_mo.csv')
fy16_ms = pd.read_csv('fy16_ms.csv')
fy16_mt = pd.read_csv('fy16_mt.csv')
fy16_nc = pd.read_csv('fy16_nc.csv')
fy16_nd = pd.read_csv('fy16_nd.csv')
fy16_ne = pd.read_csv('fy16_ne.csv')
fy16_nh = pd.read_csv('fy16_nh.csv')
fy16_nj = pd.read_csv('fy16_nj.csv')
fy16_nm = pd.read_csv('fy16_nm.csv')
fy16_nv = pd.read_csv('fy16_nv.csv')
fy16_ny = pd.read_csv('fy16_ny.csv')
fy16_oh = pd.read_csv('fy16_oh.csv')
fy16_ok = pd.read_csv('fy16_ok.csv')
fy16_or = pd.read_csv('fy16_or.csv')
fy16_pa = pd.read_csv('fy16_pa.csv')
fy16_pr = pd.read_csv('fy16_pr.csv')
fy16_ri = pd.read_csv('fy16_ri.csv')
fy16_sc = pd.read_csv('fy16_sc.csv')
fy16_sd = pd.read_csv('fy16_sd.csv')
fy16_tn = pd.read_csv('fy16_tn.csv')
fy16_tx = pd.read_csv('fy16_tx.csv')
fy16_ut = pd.read_csv('fy16_ut.csv')
fy16_va = pd.read_csv('fy16_va.csv')
fy16_vt = pd.read_csv('fy16_vt.csv')
fy16_wa = pd.read_csv('fy16_wa.csv')
fy16_wi = pd.read_csv('fy16_wi.csv')
fy16_wv = pd.read_csv('fy16_wv.csv')
fy16_wy = pd.read_csv('fy16_wy.csv')

In [15]:
fy16_mn.head(100)

,Year,State,County/ Congressional District,Veteran Population*,Total Expenditure,Compensation & Pension,Construction,Education & Vocational Rehabilitation/ Employment,Loan Guaranty#,General Operating Expenses,Insurance & Indemnities,Medical Care,Unique Patients**
0,16,MN,AITKIN,"1,874","$16,258","$8,411",$-,$259,$-,$-,$53,"$7,534",912
1,16,MN,ANOKA,"22,462","$154,458","$72,221",$-,"$9,469",$-,$-,"$1,948","$70,819","7,301"
2,16,MN,BECKER,"3,058","$21,976","$11,233",$-,$424,$-,$-,$116,"$10,203","1,204"
3,16,MN,BELTRAMI,"3,111","$29,936","$16,757",$-,"$1,178",$-,$-,$242,"$11,760","1,367"
4,16,MN,BENTON,"3,012","$30,893","$11,098",$-,$692,$-,$-,$160,"$18,944","1,534"
5,16,MN,BIG STONE,448,"$3,556","$2,279",$-,$97,$-,$-,$130,"$1,050",227
6,16,MN,BLUE EARTH,"3,740","$29,313","$14,600",$-,"$2,381",$-,$-,$541,"$11,791","1,348"
7,16,MN,BROWN,"1,893","$15,630","$8,764",$-,$566,$-,$-,$389,"$5,911",838
8,16,MN,CARLTON,"2,882","$24,671","$15,286",$-,"$1,126",$-,$-,$113,"$8,145","1,028"
9,16,MN,CARVER,"4,685","$24,736","$12,303",$-,"$1,572",$-,$-,$343,"$10,517","1,236"
10,16,MN,CASS,"3,023","$28,742","$15,270",$-,$464,$-,$-,$155,"$12,854","1,566"
11,16,MN,CHIPPEWA,822,"$6,937","$2,983",$-,$144,$-,$-,$17,"$3,793",466
12,16,MN,CHISAGO,"3,995","$33,356","$17,066",$-,"$1,871",$-,$-,$371,"$14,048","1,287"
13,16,MN,CLAY,"3,858","$37,348","$15,578",$-,"$2,021",$-,$-,$667,"$19,081","1,681"
14,16,MN,CLEARWATER,875,"$8,232","$3,717",$-,$147,$-,$-,$24,"$4,345",414
15,16,MN,COOK,458,"$3,168","$1,886",$-,$41,$-,$-,$12,"$1,229",123
16,16,MN,COTTONWOOD,817,"$5,334","$3,007",$-,$38,$-,$-,$87,"$2,202",333
17,16,MN,CROW WING,"5,861","$57,135","$31,301",$-,"$1,572",$-,$-,$437,"$23,825","2,934"
18,16,MN,DAKOTA,"25,689","$190,506","$88,389",$-,"$14,683",$-,$-,"$2,917","$84,517","7,402"
19,16,MN,DODGE,"1,349","$6,872","$3,633",$-,$437,$-,$-,$76,"$2,727",386
20,16,MN,DOUGLAS,"3,095","$27,505","$14,144",$-,$637,$-,$-,$380,"$12,344","1,506"
21,16,MN,FARIBAULT,"1,183","$8,245","$4,159",$-,$283,$-,$-,$40,"$3,764",412
22,16,MN,FILLMORE,"1,483","$8,951","$5,234",$-,$392,$-,$-,$60,"$3,265",475
23,16,MN,FREEBORN,"2,541","$18,419","$8,269",$-,$280,$-,$-,$117,"$9,754","1,132"
24,16,MN,GOODHUE,"3,738","$21,892","$11,106",$-,"$1,438",$-,$-,$252,"$9,096","1,039"
25,16,MN,GRANT,508,"$4,566","$2,650",$-,$66,$-,$-,$22,"$1,828",210
26,16,MN,HENNEPIN,"56,055","$491,631","$159,137",$411,"$28,741",$-,"$84,867","$8,261","$210,215","15,754"
27,16,MN,HOUSTON,"1,391","$9,310","$5,434",$-,$424,$-,$-,$164,"$3,289",637
28,16,MN,HUBBARD,"2,062","$17,434","$9,446",$-,$422,$-,$-,$133,"$7,433",885
29,16,MN,ISANTI,"2,871","$23,491","$11,012",$-,$744,$-,$-,$90,"$11,646","1,228"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,16,MN,ROSEAU,"1,150","$6,209","$3,251",$-,$230,$-,$-,$36,"$2,692",387
68,16,MN,ST. LOUIS,"16,024","$109,475","$63,492",$-,"$7,049",$-,$-,"$1,492","$37,442","5,768"
69,16,MN,SCOTT,"6,722","$53,805","$24,310",$-,"$5,429",$-,$-,$420,"$23,646","2,274"
70,16,MN,SHERBURNE,"5,892","$58,139","$29,792",$-,"$3,118",$-,$-,$424,"$24,806","2,593"
71,16,MN,SIBLEY,894,"$7,403","$3,609",$-,$155,$-,$-,$95,"$3,543",428
72,16,MN,STEARNS,"10,246","$161,921","$55,184","$12,153","$3,894",$-,"$1,261",$840,"$88,589","5,870"
73,16,MN,STEELE,"2,485","$13,806","$7,512",$-,$708,$-,$-,$254,"$5,332",705
74,16,MN,STEVENS,557,"$3,022","$1,810",$-,$155,$-,$-,$17,"$1,040",219
75,16,MN,SWIFT,683,"$6,192","$3,156",$-,$231,$-,$-,$69,"$2,736",331
76,16,MN,TODD,"1,925","$17,235","$7,221",$-,$200,$-,$-,$30,"$9,784","1,096"
77,16,MN,TRAVERSE,329,"$2,456","$1,438",$-,$17,$-,$-,$50,$951,147
78,16,MN,WABASHA,"1,833","$14,012","$7,818",$-,$361,$-,$-,$199,"$5,634",693
79,16,MN,WADENA,"1,225","$16,245","$9,969",$-,$397,$-,$-,$404,"$5,475",584
80,16,MN,WASECA,"1,277","$8,999","$4,520",$-,$447,$-,$-,$198,"$3,834",457
81,16,MN,WASHINGTON,"14,467","$94,879","$47,712",$-,"$8,870",$-,$-,"$1,643","$36,655","3,545"
82,16,MN,WATONWAN,797,"$6,075","$3,103",$-,$152,$-,$-,$80,"$2,739",358
83,16,MN,WILKIN,459,"$3,766","$1,509",$-,$87,$-,$-,$86,"$2,083",177
84,16,MN,WINONA,"2,889","$17,972","$8,686",$-,"$1,219",$-,$-,$221,"$7,847",999
85,16,MN,WRIGHT,"7,823","$55,938","$26,712",$-,"$3,485",$-,$-,$523,"$25,219","2,665"
86,16,MN,YELLOW MEDICINE,768,"$7,098","$3,423",$-,$142,$-,$-,$165,"$3,369",380
87,16,MN,MINNESOTA (Totals),"337,362","$2,677,849","$1,225,675","$12,564","$138,626",$-,"$86,128","$34,596","$1,180,261","118,886"
88,16,MN,CONG. DIST (01),"44,452","$274,863","$144,538",$-,"$14,763",$-,$-,"$4,638","$110,924","14,863"
89,16,MN,CONG. DIST (02),"42,290","$304,374","$142,391",$-,"$23,515",$-,$-,"$4,167","$134,301","12,421"
90,16,MN,CONG. DIST (03),"36,402","$212,125","$92,704",$-,"$15,642",$-,$-,"$4,273","$99,505","9,895"
91,16,MN,CONG. DIST (04),"34,036","$234,620","$104,856",$-,"$19,613",$-,$-,"$4,474","$105,677","8,852"
92,16,MN,CONG. DIST (05),"30,306","$353,981","$101,095",$411,"$17,635",$-,"$84,867","$4,929","$145,043","9,221"
93,16,MN,CONG. DIST (06),"44,105","$410,644","$172,438","$12,118","$18,526",$-,"$1,261","$3,432","$202,870","17,558"
94,16,MN,CONG. DIST (07),"48,717","$399,446","$198,646",$32,"$11,493",$-,$-,"$4,384","$184,891","22,027"
95,16,MN,CONG. DIST (08),"57,053","$487,796","$269,007",$3,"$17,437",$-,$-,"$4,299","$197,050","24,049"
96,16,MN,MINNESOTA (Totals),"337,362","$2,677,849","$1,225,675","$12,564","$138,626",$-,"$86,128","$34,596","$1,180,261","118,886"

In [22]:
sorted_fy16_mn = fy16_mn.sort_values(['Veteran Population*'], ascending=[1])

In [35]:
fy16_mn.head(100)

,Year,State,County/ Congressional District,Veteran Population*,Total Expenditure,Compensation & Pension,Construction,Education & Vocational Rehabilitation/ Employment,Loan Guaranty#,General Operating Expenses,Insurance & Indemnities,Medical Care,Unique Patients**
0,16,MN,AITKIN,"1,874","$16,258","$8,411",$-,$259,$-,$-,$53,"$7,534",912
1,16,MN,ANOKA,"22,462","$154,458","$72,221",$-,"$9,469",$-,$-,"$1,948","$70,819","7,301"
2,16,MN,BECKER,"3,058","$21,976","$11,233",$-,$424,$-,$-,$116,"$10,203","1,204"
3,16,MN,BELTRAMI,"3,111","$29,936","$16,757",$-,"$1,178",$-,$-,$242,"$11,760","1,367"
4,16,MN,BENTON,"3,012","$30,893","$11,098",$-,$692,$-,$-,$160,"$18,944","1,534"
5,16,MN,BIG STONE,448,"$3,556","$2,279",$-,$97,$-,$-,$130,"$1,050",227
6,16,MN,BLUE EARTH,"3,740","$29,313","$14,600",$-,"$2,381",$-,$-,$541,"$11,791","1,348"
7,16,MN,BROWN,"1,893","$15,630","$8,764",$-,$566,$-,$-,$389,"$5,911",838
8,16,MN,CARLTON,"2,882","$24,671","$15,286",$-,"$1,126",$-,$-,$113,"$8,145","1,028"
9,16,MN,CARVER,"4,685","$24,736","$12,303",$-,"$1,572",$-,$-,$343,"$10,517","1,236"
10,16,MN,CASS,"3,023","$28,742","$15,270",$-,$464,$-,$-,$155,"$12,854","1,566"
11,16,MN,CHIPPEWA,822,"$6,937","$2,983",$-,$144,$-,$-,$17,"$3,793",466
12,16,MN,CHISAGO,"3,995","$33,356","$17,066",$-,"$1,871",$-,$-,$371,"$14,048","1,287"
13,16,MN,CLAY,"3,858","$37,348","$15,578",$-,"$2,021",$-,$-,$667,"$19,081","1,681"
14,16,MN,CLEARWATER,875,"$8,232","$3,717",$-,$147,$-,$-,$24,"$4,345",414
15,16,MN,COOK,458,"$3,168","$1,886",$-,$41,$-,$-,$12,"$1,229",123
16,16,MN,COTTONWOOD,817,"$5,334","$3,007",$-,$38,$-,$-,$87,"$2,202",333
17,16,MN,CROW WING,"5,861","$57,135","$31,301",$-,"$1,572",$-,$-,$437,"$23,825","2,934"
18,16,MN,DAKOTA,"25,689","$190,506","$88,389",$-,"$14,683",$-,$-,"$2,917","$84,517","7,402"
19,16,MN,DODGE,"1,349","$6,872","$3,633",$-,$437,$-,$-,$76,"$2,727",386
20,16,MN,DOUGLAS,"3,095","$27,505","$14,144",$-,$637,$-,$-,$380,"$12,344","1,506"
21,16,MN,FARIBAULT,"1,183","$8,245","$4,159",$-,$283,$-,$-,$40,"$3,764",412
22,16,MN,FILLMORE,"1,483","$8,951","$5,234",$-,$392,$-,$-,$60,"$3,265",475
23,16,MN,FREEBORN,"2,541","$18,419","$8,269",$-,$280,$-,$-,$117,"$9,754","1,132"
24,16,MN,GOODHUE,"3,738","$21,892","$11,106",$-,"$1,438",$-,$-,$252,"$9,096","1,039"
25,16,MN,GRANT,508,"$4,566","$2,650",$-,$66,$-,$-,$22,"$1,828",210
26,16,MN,HENNEPIN,"56,055","$491,631","$159,137",$411,"$28,741",$-,"$84,867","$8,261","$210,215","15,754"
27,16,MN,HOUSTON,"1,391","$9,310","$5,434",$-,$424,$-,$-,$164,"$3,289",637
28,16,MN,HUBBARD,"2,062","$17,434","$9,446",$-,$422,$-,$-,$133,"$7,433",885
29,16,MN,ISANTI,"2,871","$23,491","$11,012",$-,$744,$-,$-,$90,"$11,646","1,228"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,16,MN,ROSEAU,"1,150","$6,209","$3,251",$-,$230,$-,$-,$36,"$2,692",387
68,16,MN,ST. LOUIS,"16,024","$109,475","$63,492",$-,"$7,049",$-,$-,"$1,492","$37,442","5,768"
69,16,MN,SCOTT,"6,722","$53,805","$24,310",$-,"$5,429",$-,$-,$420,"$23,646","2,274"
70,16,MN,SHERBURNE,"5,892","$58,139","$29,792",$-,"$3,118",$-,$-,$424,"$24,806","2,593"
71,16,MN,SIBLEY,894,"$7,403","$3,609",$-,$155,$-,$-,$95,"$3,543",428
72,16,MN,STEARNS,"10,246","$161,921","$55,184","$12,153","$3,894",$-,"$1,261",$840,"$88,589","5,870"
73,16,MN,STEELE,"2,485","$13,806","$7,512",$-,$708,$-,$-,$254,"$5,332",705
74,16,MN,STEVENS,557,"$3,022","$1,810",$-,$155,$-,$-,$17,"$1,040",219
75,16,MN,SWIFT,683,"$6,192","$3,156",$-,$231,$-,$-,$69,"$2,736",331
76,16,MN,TODD,"1,925","$17,235","$7,221",$-,$200,$-,$-,$30,"$9,784","1,096"
77,16,MN,TRAVERSE,329,"$2,456","$1,438",$-,$17,$-,$-,$50,$951,147
78,16,MN,WABASHA,"1,833","$14,012","$7,818",$-,$361,$-,$-,$199,"$5,634",693
79,16,MN,WADENA,"1,225","$16,245","$9,969",$-,$397,$-,$-,$404,"$5,475",584
80,16,MN,WASECA,"1,277","$8,999","$4,520",$-,$447,$-,$-,$198,"$3,834",457
81,16,MN,WASHINGTON,"14,467","$94,879","$47,712",$-,"$8,870",$-,$-,"$1,643","$36,655","3,545"
82,16,MN,WATONWAN,797,"$6,075","$3,103",$-,$152,$-,$-,$80,"$2,739",358
83,16,MN,WILKIN,459,"$3,766","$1,509",$-,$87,$-,$-,$86,"$2,083",177
84,16,MN,WINONA,"2,889","$17,972","$8,686",$-,"$1,219",$-,$-,$221,"$7,847",999
85,16,MN,WRIGHT,"7,823","$55,938","$26,712",$-,"$3,485",$-,$-,$523,"$25,219","2,665"
86,16,MN,YELLOW MEDICINE,768,"$7,098","$3,423",$-,$142,$-,$-,$165,"$3,369",380
87,16,MN,MINNESOTA (Totals),"337,362","$2,677,849","$1,225,675","$12,564","$138,626",$-,"$86,128","$34,596","$1,180,261","118,886"
88,16,MN,CONG. DIST (01),"44,452","$274,863","$144,538",$-,"$14,763",$-,$-,"$4,638","$110,924","14,863"
89,16,MN,CONG. DIST (02),"42,290","$304,374","$142,391",$-,"$23,515",$-,$-,"$4,167","$134,301","12,421"
90,16,MN,CONG. DIST (03),"36,402","$212,125","$92,704",$-,"$15,642",$-,$-,"$4,273","$99,505","9,895"
91,16,MN,CONG. DIST (04),"34,036","$234,620","$104,856",$-,"$19,613",$-,$-,"$4,474","$105,677","8,852"
92,16,MN,CONG. DIST (05),"30,306","$353,981","$101,095",$411,"$17,635",$-,"$84,867","$4,929","$145,043","9,221"
93,16,MN,CONG. DIST (06),"44,105","$410,644","$172,438","$12,118","$18,526",$-,"$1,261","$3,432","$202,870","17,558"
94,16,MN,CONG. DIST (07),"48,717","$399,446","$198,646",$32,"$11,493",$-,$-,"$4,384","$184,891","22,027"
95,16,MN,CONG. DIST (08),"57,053","$487,796","$269,007",$3,"$17,437",$-,$-,"$4,299","$197,050","24,049"
96,16,MN,MINNESOTA (Totals),"337,362","$2,677,849","$1,225,675","$12,564","$138,626",$-,"$86,128","$34,596","$1,180,261","118,886"

In [32]:
cut_mn16 = pd.DataFrame(fy16_mn, columns=['Veteran Population*','Education & Vocational Rehabilitation/ Employment'])

In [34]:
cut_mn16.head(100)

   Veteran Population* Education & Vocational Rehabilitation/ Employment
0                1,874                                             $259
1               22,462                                           $9,469
2                3,058                                             $424
3                3,111                                           $1,178
4                3,012                                             $692
5                  448                                              $97
6                3,740                                           $2,381
7                1,893                                             $566
8                2,882                                           $1,126
9                4,685                                           $1,572
10               3,023                                             $464
11                 822                                             $144
12               3,995                                           $1,871
13               3,858                                           $2,021
14                 875                                             $147
15                 458                                              $41
16                 817                                              $38
17               5,861                                           $1,572
18              25,689                                          $14,683
19               1,349                                             $437
20               3,095                                             $637
21               1,183                                             $283
22               1,483                                             $392
23               2,541                                             $280
24               3,738                                           $1,438
25                 508                                              $66
26              56,055                                          $28,741
27               1,391                                             $424
28               2,062                                             $422
29               2,871                                             $744
..                 ...                                               ...
67               1,150                                             $230
68              16,024                                           $7,049
69               6,722                                           $5,429
70               5,892                                           $3,118
71                 894                                             $155
72              10,246                                           $3,894
73               2,485                                             $708
74                 557                                             $155
75                 683                                             $231
76               1,925                                             $200
77                 329                                              $17
78               1,833                                             $361
79               1,225                                             $397
80               1,277                                             $447
81              14,467                                           $8,870
82                 797                                             $152
83                 459                                              $87
84               2,889                                           $1,219
85               7,823                                           $3,485
86                 768                                             $142
87             337,362                                         $138,626
88              44,452                                          $14,763
89              42,290                                          $23,515
90              36,402                                          $15,642
91              34,036                                          $19,613
92              30,306                                          $17,635
93              44,105                                          $18,526
94              48,717                                          $11,493
95              57,053                                          $17,437
96             337,362                                         $138,626

[97 rows x 2 columns]